[submodule "ArduinoCode/Libraries/Low-Power"]
	path = ArduinoCode/Libraries/Low-Power
	url = https://github.com/rocketscream/Low-Power.git
[submodule "ArduinoCode/Libraries/RTClibExtended"]
	path = ArduinoCode/Libraries/RTClibExtended
	url = https://github.com/FabioCuomo/FabioCuomo-DS3231.git
[submodule "ArduinoCode/Libraries/Adafruit_FONA"]
	path = ArduinoCode/Libraries/Adafruit_FONA
	url = https://github.com/adafruit/Adafruit_FONA.git
[submodule "ArduinoCode/Libraries/Adafruit_nRF8001"]
	path = ArduinoCode/Libraries/Adafruit_nRF8001
	url = https://github.com/adafruit/Adafruit_nRF8001.git
[submodule "ArduinoCode/Libraries/PinChangeInterrupt"]
	path = ArduinoCode/Libraries/PinChangeInterrupt
	url = https://github.com/NicoHood/PinChangeInterrupt.git
